$Primary-brainflix-black: #323232;
$Primary-brainflix-blue: #0095ff;
$Primary-sliver: #afafaf;
$Primary-white: #ffffff;

$Seondary-brainflix-darkblack: #000000;
$Seondary-brainflix-darkblue: #0065ad;
$Seondary-mercury: #E1E1E1;
$Seondary-alabaster: #fafafa;
